.row button {
  width: 16em !important;
  margin: .5em 0;
}

.card form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin-bottom: 4em;
}

.card form button {
  display: inline;
  margin: 0 1em;
  height: fit-content;
}

.card form input {
  display: inline !important;
  width: 40vw;
  margin: 0 1em;
}

.modal-body  button {
  margin: .5em 0;
}

.card {
  width: 80%;
  margin: 2em auto;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .card form {
    display: grid;
    grid-template-columns: 1fr;
  }

  .card form input {
    display: inline !important;
    width: 100%;
    margin: 0 0;
  }

  .card form button {
    margin: .5em 1em;
  }
}
